.movie-container, .series-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content-section div.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    height: 200px;
    font-size: 1.1em;
    text-align: center;
    transition: transform 0.3s;
}

.content-section div.avatar:hover {
    transform: scale(1.05);
    background-color: #ffbf00;
    color: #222;
}
